.customCaption {
    position: absolute;
    top: 75vh;
    left: 50vw;
    transform: translate(-15vw, -15vh);
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}
