/* Offcanvas links */
.navLinkHover {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
}
  
.navLinkHover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: white;
    width: 0%;
    transition: width 0.3s ease;
    pointer-events: none;
}

/* Header Links */
.navLinkHover:hover::after {
    width: 100%;
}

.link {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 2px;
    background-color: white;
    width: 0%;
    transition: width 0.3s ease;
    pointer-events: none;
}

.link:hover::after {
    width: 100%;
}

/* Footer Links */
.footerLink {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footerLink::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    background-color: white;
    width: 25%;

    transform: scaleX(0);
    transition: transform 0.3s ease;
    pointer-events: none;
}

.footerLink:hover::after {
    transform: scaleX(1);
}